@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary: #222831;
  --secondary: #393e46;
  --tertiary: #948979;
  --accent: #dfd0b8;

  color: var(--accent);
  background-color: var(--primary);
}
